@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, sans-serif;
  }
}
.active {
  color: #70e000;
}

.h1-mt {
  margin-top: -30px;
}
body {
  font-family: "Inter", sans-serif;
  color: #38b000;
  overflow-x: hidden;
}
.main-image .gradient {
  display: none;
}
textarea {
  overflow-y: hidden;
}
select,
input,
textarea {
  outline: none;
  appearance: none;
}
@media (hover: hover) {
  .main-image:hover .gradient {
    display: block;
    transition: 0.5s ease-in-out;
  }
}
